h1 {
    font-family: 'Indie Flower';
    font-size: 40px;
}

html {
    height: 100%;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    display: block;
}

body {
    height: 100vh;
    margin: 0;
    background-image: url("res/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(252, 242, 250, 0.89);
}

.content {
    display: block;
}

.container {
    background-image: linear-gradient(336deg, rgba(45, 48, 64, 0.761) 0%, rgba(84, 86, 105, 0.761) 95%);
    border-radius: 2.5rem;
    padding: 20px;
    border-style: solid;
    border-width: 2px 2px 0px 2px;
    border-color: #B5A9D6;
    backdrop-filter: blur(0.4rem);
}

.pfp {
    display: flex;
}

.pfp img {
    border-radius: 50%;
    height: 110px;
    padding-right: 1rem;
}

.pfp h1 {
    padding-top: 2.5rem;
    margin: 0rem;
}

.lang {
    font-size: 10px;
    text-align: right;
    padding: 0rem;
    margin: 0rem;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #B3D1FF;
}

h2 span {
    color: #B5A9D6;
}

.separation {
    font-size: 28px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.music {
    text-align: center;
    font-size: 12px;
    margin: 0%;
    padding: 0%;
}

.buttons {
    display: flex;
    padding: 0rem 0.5rem 0.5rem 0.5rem;

}

form {
    display: flex;
    flex-basis: 50%;
}

input {
    width: 100%;
    height: 3rem;
    margin: 0.3rem;
    color: rgba(252, 242, 250, 0.89);
    background-image: linear-gradient(85deg, rgba(130, 103, 207, 0.71) 0%, rgba(181, 169, 214, 0.008) 100%);
    text-align: left;
    border-style: dashed;
    border-radius: 2.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: #B5A9D6;
}

p {
    margin: 0%;
}

.gif {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.gif img {
    max-height: 160px;
}

code {
    background-color: rgba(144, 144, 144, 0.25);
    border-radius: 0.25em;
    font-size: 0.9em;
    letter-spacing: 0;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    text-indent: 0;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials a {
    margin: 0.5rem 1rem 0rem 1rem;
}

.socials a svg {
    fill: rgba(179, 209, 255, 0.761);
    width: 20px;
    height: 20px;
}

.socials a svg:hover {
    fill: rgba(84, 86, 105, 0.761);
}


/*responsive part*/
@media screen and (max-width: 700px) {
    html {
        height: fit-content;
    }

    body {
        height: fit-content;
    }

    .content {
        padding: 4rem;
        max-width: fit-content;
    }

    .pfp img {
        height: 40px;
        padding-right: 1rem;
    }

    .socials a svg {
        width: 15px;
        height: 15px;
    }

    .gif img {
        max-width: 100%;
        height: auto;
    }

    .pfp h1 {
        font-size: 14px;
    }

    html {
        font-size: 10px;
    }

    .separation {
        font-size: 18px;
    }
}